<form id="filters" hx-get="/filter" hx-trigger="change"
      hx-target="#projects-table tbody">
    <label for="priority-filter">Filter by Priority:</label>

    <select name="priority" id="priority-filter">
        <option value="">All</option>
        <th:block th:each="priority : ${priorities}">
            <option th:value="${priority.getValue()}"
                    th:text="${priority.toString()}"></option>
        </th:block>
    </select>

    <label for="teamFilter">Filter by Team:</label>
    <select name="teamName" id="teamFilter">
        <option value="">All</option>
        <th:block th:each="team : ${teams}">
            <option th:value="${team.getName()}"
                    th:text="${team.getName()}"></option>
        </th:block>
    </select>
</form>
<table id="projects-table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Deadline</th>
        <th>Priority</th>
        <th>Team Assigned</th>
    </tr>
    </thead>
    <tbody id="project-table-body"
           th:replace="~{fragments/project-table :: project-table}"></tbody>

</table>