<form method="post" enctype="multipart/form-data" action="/uploadfile">
    <table>
        <tr>
            <td>Project name:</td>
            <td><input type="text" name="project_name" required></td>
        </tr>
        <tr>
            <td>File to upload:</td>
            <td><input type="file" name="file"/></td>
        </tr>
        <tr>
            <td>Deadline:</td>
            <td><input type="date" name="deadline"></td>
        </tr>
        <tr>
            <td>Priority:</td>
            <td><input type="number" name="priority"></td>
        </tr>
        <tr>
            <td>Team:</td>
            <td>
                <select name="team_id" required>
                    <option value="">Select a team</option>
                    <th:block th:each="team : ${teams}">
                        <option th:value="${team.getId()}" th:text="${team.getName()}"></option>
                    </th:block>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Upload"/></td>
        </tr>
    </table>
</form>